@media screen and (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }

    img{
        filter: invert(1) hue-rotate(180deg);
    }

    pre{
        filter: invert(1) hue-rotate(180deg);
    }
}
#app,
*,
body,
html {
    padding: 0;
    margin: 0;
    background: white;
}

#app {
    width: 100%
}

.max-width {
    width: 800px;
    margin: 0 auto
}

@media screen and (max-width:800px) {
    .max-width {
        width: 90%
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.bb {
    border-bottom: 2px solid rgba(0, 0, 0, .1)
}

.btn-up {
    width: 15px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0
}

/*进度条颜色*/
#nprogress .bar {
    background: #2c3e50 !important;
}

#cnzz_stat_icon_1280550085 {
    display: none
}

body::-webkit-scrollbar {
    width: 4px;
    height: 2px
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .2)
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 0;
    background: rgba(0, 0, 0, .1)
}

.layer-top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.avatar{
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}