.header {
    height: 55px;
    line-height: 55px;
    margin-top: 45px;
    font-size: 28px;
    margin-bottom: 35px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.saying {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}